doctype html
html(lang="vi")
    head
        include jades/head.jade
        link(href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap&subset=latin-ext,vietnamese', rel='stylesheet')
        link(rel="stylesheet" href="css/index.css")
    body
        include jades/header
        // about
        section#about.section-padding
            .container
                .row
                    .col-md-12.text-center.marb-35
                        h1.header-h Tiến Trần
                        p.header-p
                            | Chắc gì đã sống đến mai - mà để củ khoai đến sáng
                    .col-md-1
                    .col-md-10
                        .col-md-6.col-sm-6
                            .about-info
                                h2.heading Bữa sáng đủ chất gồm những gì?
                                p
                                    | Bữa ăn sáng hay còn gọi là bữa sáng, bữa lót dạ hay bữa điểm tâm là bữa ăn đầu tiên trong ngày, thường là vào buổi sáng sau khi thức dậy với thực đơn thường gồm những món thức ăn nhanh, nhẹ kèm theo các món tráng miệng và giải khát như trà, sữa, cà phê, nước giải khát. Mỗi một quốc gia, dân tộc, vùng miền, dân tộc, mỗi nền văn hóa trên thế giới đều có những bữa điểm tâm đa dạng theo cách khác nhau.
                                .details-list
                                    ul
                                        li
                                            i.fa.fa-check
                                            | Cần tránh những đồ ăn ngọt
                                        li
                                            i.fa.fa-check
                                            | Cần tránh những thức ăn rán vì những thức ăn này chứa rất nhiều đường syro
                                        li
                                            i.fa.fa-check
                                            | Không nên dùng nước uống có gas và nước trái cây đóng hộp
                                        li
                                            i.fa.fa-check
                                            | Không nên ăn sáng nhiều tại các cửa hàng ăn nhanh
                                        li
                                            i.fa.fa-check
                                            | Nên tránh dùng trà và cà phê vì đây không phải là các đồ uống cung cấp nhiều năng lượng cho cơ thể.
                        .col-md-6.col-sm-6
                            img.img-responsive(src='images/res01.jpg', alt='')
                    .col-md-1
        // /about
        // event
        section#event
            .bg-color
                .container
                    .row
                        .col-xs-12.text-center(style='padding:60px;')
                            h1.header-h Up Coming events
                            p.header-p Decorations 100% complete here
                        .col-md-12(style='padding-bottom:60px;')
                            .item.active.left
                                .col-md-6.col-sm-6.left-images
                                    img.img-responsive(src='images/res02.jpg')
                                .col-md-6.col-sm-6.details-text
                                    .content-holder
                                        h2 Joyful party
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci, inventore quia, quos delectus quaerat praesentium id expedita nihil illo accusantium, tempora.
                                        address
                                            strong Place:
                                            |                               1612 Collins Str, Victoria 8007
                                            br
                                            strong Time:
                                            |                               07:30pm
                                        a.btn.btn-imfo.btn-read-more(href='events-details.html') Read more
        // / event
        // menu
        section#menu-list.section-padding
            .container
                .row
                    .col-md-12.text-center.marb-35
                        h1.header-h Menu List
                        p.header-p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            br
                            | nibh euismod tincidunt ut laoreet dolore magna aliquam.
                    #menu-flters.col-md-12.text-center
                        ul
                            li
                                a.filter.active(data-filter='.menu-restaurant') Show All
                            li
                                a.filter(data-filter='.breakfast') Breakfast
                            li
                                a.filter(data-filter='.lunch') Lunch
                            li
                                a.filter(data-filter='.dinner') Dinner
                    #menu-wrapper
                        .breakfast.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Gạo hấp cách thủy
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $0.99
                            span.menu-subtitle Nhà làm
                        .breakfast.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Mỳ tôm hấp
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .breakfast.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Trứng kho
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .breakfast.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Mỳ tôm quán net
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .lunch.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Thịt chó kho
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .lunch.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Trứng xào lá ngón
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .lunch.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Trứng tráng người yêu cũ
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .lunch.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Pizza
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .lunch.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Châu chấu luộc
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .dinner.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Vịt hấp thoát ế
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .dinner.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Gà muôn lối thoát
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
                        .dinner.menu-restaurant
                            span.clearfix
                                a.menu-title(href='#', data-meal-img='assets/images/restaurant/rib.jpg') Khổ qua xào lòng
                                span.menu-line(style='left: 166px; right: 44px;')
                                span.menu-price $20.99
                            span.menu-subtitle Nhà làm
        // / menu
        // contact
        section#contact.section-padding
            .container
                .row
                    .col-md-12.text-center
                        h1.header-h Đặt hàng ngay
                        p.header-p
                            | Hốc một lần - nhớ mãi mãi
                            br
                            | Ăn theo cách của bạn, tình tiền theo cách của chúng tôi.
                .row.msg-row
                    .col-md-4.col-sm-4.mr-15
                        .media-2
                            .media-left
                                .contact-phone.bg-1.text-center
                                    span.phone-in-talk.fa.fa-phone
                            .media-body
                                h4.dark-blue.regular Số điện thoại
                                p.light-blue.regular.alt-p
                                    | 0984768803 -
                                    span.contacts-sp Phone Booking
                        .media-2
                            .media-left
                                .contact-email.bg-14.text-center
                                    span.hour-icon.fa.fa-clock-o
                            .media-body
                                h4.dark-blue.regular Giờ mở cửa
                                p.light-blue.regular.alt-p  Thứ 2 đến thứ 6 09.00 - 24:00
                                p.light-blue.regular.alt-p
                                    | Thứ 7 và chủ nhật 08:00 - 03.00
                    .col-md-8.col-sm-8
                        form.contactForm(action='', method='post', role='form')
                            #sendmessage Your booking request has been sent. Thank you!
                            #errormessage
                            .col-md-6.col-sm-6.contact-form.pad-form
                                .form-group.label-floating.is-empty
                                    input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                                    .validation
                            .col-md-6.col-sm-6.contact-form
                                .form-group
                                    input#date.form-control.label-floating.is-empty(type='date', name='date', placeholder='Date', data-rule='required', data-msg='This field is required')
                                    .validation
                            .col-md-6.col-sm-6.contact-form.pad-form
                                .form-group
                                    input#email.form-control.label-floating.is-empty(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
                                    .validation
                            .col-md-6.col-sm-6.contact-form
                                .form-group
                                    input#time.form-control.label-floating.is-empty(type='time', name='time', placeholder='Time', data-rule='required', data-msg='This field is required')
                                    .validation
                            .col-md-6.col-sm-6.contact-form
                                .form-group
                                    input#phone.form-control.label-floating.is-empty(type='text', name='phone', placeholder='Phone', data-rule='required', data-msg='This field is required')
                                    .validation
                            .col-md-6.col-sm-6.contact-form
                                .form-group
                                    input#people.form-control.label-floating.is-empty(type='text', name='people', placeholder='People', data-rule='required', data-msg='This field is required')
                                    .validation
                            .col-md-12.contact-form
                                .form-group.label-floating.is-empty
                                    textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Message')
                                    .validation
                            .col-md-12.btnpad
                                .contacts-btn-pad
                                    button.contacts-btn Book Table
        // / contact

        include jades/footer.jade
        script(type='text/javascript' src="js/libs/jquery.min.js")
        script(type='text/javascript' src="js/libs/jquery.easing.min.js")
        script(type='text/javascript' src="js/libs/bootstrap.min.js")
        script(type="text/javascript" src="js/libs/custom.js")





