section#list-foods.section-padding
    .container
        .row
            .col-md-12.text-center.marb-35
                h1.header-h Lắm tiền thì xem
                p.header-p
                    | Dưới đây là tổng hợp một số các món đặc biệt của cửa hàng
                    br
                    | Đếch có món rẻ đâu! Tìm mất công ra!
        .row
           .col-md-12.foodList
               .woocommerce
                   ul.products.columns-4
                       li.products__items
                           a(href="foodDetail.html").products__items__contents
                                span.onsale
                                    | Sale!
                                .products__items__contents__image
                                    img(src="../images/res02.jpg")
                                h2.products__items__contents__title
                                    | Pizza Pepperoni
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   del
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 3.00
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 2.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/03/gallery-1.jpg")
                                h2.products__items__contents__title
                                    | Special Sushi
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 8.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/09/slide2.jpg")
                                h2.products__items__contents__title
                                    | Crevettes Salad
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 39.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/04/fruit-cake.jpg")
                                h2.products__items__contents__title
                                    | Fruit Cake
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 15.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/03/41.jpg")
                                h2.products__items__contents__title
                                    | Strawberry in the Chocolate
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   del
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 3.00
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 2.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/09/slide1.jpg")
                                h2.products__items__contents__title
                                    | Spaghetti alla Carbonara
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 9.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                span.onsale
                                    | Sale!
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/04/stake.jpg")
                                h2.products__items__contents__title
                                    | Steak with Cucumbers
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   del
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 20.00
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 15.00

                           a.buttonAddToCart
                                | Add to cart
                       li.products__items
                           a.products__items__contents
                                span.onsale
                                    | Sale!
                                .products__items__contents__image
                                    img(src="//demo.flytemplates.com/flyfood/wp-content/uploads/2017/09/slide6.jpg")
                                h2.products__items__contents__title
                                    | Cheese Cake
                                .star-rating
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                span.price
                                   del
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 12.30
                                   ins
                                       span.woocommerce-Price-amount.amount
                                           span.woocommerce-Price-currencySymbol $
                                           | 10.oo

                           a.buttonAddToCart
                                | Add to cart


