#loading
    .box
        .content
            .glass
                .cap-left
                .cap-right
                .fill
                    .bubble-1
                    .bubble-2
                    .bubble-3
                    .bubble-4
                    .bubble-5
                    .bubble-6