// footer
footer
    .footer-one
        .container
            h2.title SIGNUP TO OUR NEWSLETTER
            .form-group
                input.enter-mail(placeholder='Enter your email')
                button.btn.btn-subscribe Subcribe
    .footer-two.demo
        .bg-black
            .container
                .footer-top
                    .row
                        .col-sm-3.col-xs-12
                            .footer-top-item
                                a.logo-bottom(href='')
                                    img(src='images/logo-page.png')
                                p.font-14
                                    | The one day when the lady met this fellow and they knew it was much more than a hunch the first mate and his Skipper too will do their comfortable.
                                button.btn.btn-locate Locate us
                        .col-sm-3
                            .footer-top-item
                                h5.title WORKING HOURS
                                img(src='images/knife.png')
                                ul
                                    li
                                        a(href='') MON: 9.30AM TO 10.30PM
                                    li
                                        a(href='') TUE: 9.30AM TO 10.30PM
                                    li
                                        a(href='') WED: 9.30AM TO 10.30PM
                                    li
                                        a(href='') THU: 9.30AM TO 10.30PM
                                    li
                                        a(href='') FRI: 9.30AM TO 10.30PM
                                    li
                                        a(href='') SAT: CLOSED
                                    li
                                        a(href='') SUN: 9.30AM TO 10.30PM
                        .col-sm-3
                            .footer-top-item
                                h5.title WORKING HOURS
                                img(src='images/knife.png')
                                ul
                                    li
                                        a(href='') About us
                                    li
                                        a(href='') Menu
                                    li
                                        a(href='') Services
                                    li
                                        a(href='') blog
                                    li
                                        a(href='') Contact Us
                        .col-sm-3
                            .footer-top-item
                                h5.title WORKING HOURS
                                img(src='images/knife.png')
                                p.address ADDRESS: 40, Nguyen Huy Tuong, Thanh Xuan, Ha Noi, Viet Nam
                                p.phone
                                    | Phone no:
                                    a(href='') (03) 366.229.655
                                    a.block(href='') (+84) 984.768.803
                                .footer-item-icon
                                    a(href="https://www.facebook.com/jokeritme")
                                        i.fa.fa-facebook
                                    a(href="404-not-found.html")
                                        i.fa.fa-twitter
                                    a(href="404-not-found.html")
                                        i.fa.fa-google-plus
                                    a(href="404-not-found.html")
                                        i.fa.fa-instagram
                .footer-bottom
                    p © Design by Tien Tran. All Rights Reserved
                    .term
                        a.border-right(href='') Terms & Condtions
                        a(href='') Pricacy Policy

// / footer
