// footer
footer.footer.text-center
    .footer-top
        .row
            .col-md-offset-3.col-md-6.text-center
                .widget
                    h4.widget-title Delicious
                    address
                        | 324 Ellte Road
                        br
                        | Delhi, DL 110013
                    .social-list
                        a(href='#')
                            i.fa.fa-twitter(aria-hidden='true')
                        a(href='#')
                            i.fa.fa-facebook(aria-hidden='true')
                    p.copyright.clear-float
                        | © Delicious Theme. All Rights Reserved
                    .credits
                        //
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious
                        | Designed by
                        a(href='https://bootstrapmade.com/') BootstrapMade
                    p
// / footer
