// footer
footer.footer.text-center
    .footer-top
        .text-center
            .widget
                h4.widget-title Delicious
                address
                    | 324 Ellte Road
                    br
                    | Delhi, DL 110013
                .social-list
                    a(href='https://twitter.com/TienTra82584460')
                        i.fa.fa-twitter(aria-hidden='true')
                    a(href='https://fb.com/jokeritme')
                        i.fa.fa-facebook(aria-hidden='true')
                p.copyright.clear-float
                    | © Delicious Theme. All Rights Reserved
                .credits
                    //
                    | Designed by
                    a(href='https://fb.com/jokeritme') TienTran
                p
// / footer
