title Ăn chưa? (:
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
// Favicon
link(ref="icon", sizes="16x16" href="")
link(rel='shortcut icon' type='image/x-icon' href="../images/logo.png" )




