// banner
section#banner
    .bg-color
        header#header
            .container
                #mySidenav.sidenav
                    a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
                    a(href='#about') About
                    a(href='#event') Event
                    a(href='#menu-list') Menu
                    a(href='#contact') Book a table
                // Use any element to open the sidenav
                span.pull-right.menu-icon(onclick='openNav()') ☰
        .container
            .row
                .inner.text-center
                    h1.logo-name Hốc gì hôm nay?
                    h2 Món ngon như người yêu cũ bạn sau khi chai tay bạn.
                    p Ăn để sống không sống để ăn!!
// / banner
