// banner
section#banner
    .bg-color
        header#header
            .container
                #mySidenav.sidenav
                    a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
                    a(href='#about') News
                    a(href='#event') Event
                    a(href='#menu-list') Menu
                    a(href='#contact') Book a table
                // Use any element to open the sidenav
                span.pull-right.menu-icon(onclick='openNav()') ☰
        .container
            .row
                .inner.text-center
                    h1.logo-name Hốc gì hôm nay?
                    h2 Mầm đá mà vua từng ăn đếch bao giờ bằng thịt thăn quán bố mày nấu!
                    p Tưởng bình thường hóa ra lại rất đơn giản!!
// / banner
