.products{
  margin: 0 0 1em;
  padding: 0;
  list-style: none outside;
  clear: both;
  &__items{
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 21%;
    margin-left: 0;
    &__contents{
      .onsale{
        top: 0;
        right: 0;
        left: auto;
        position: absolute;
        margin: -1em -1em 0 0;
        width: 40px;
        height: 40px;
        padding: .2em;
        font-weight: 700;
        text-align: center;
        line-height: 2.8;
        border-radius: 100%;
        background-color: #f50;
        color: #fff;
        font-size: .8em;
        z-index: 9;
        min-height: 3.236em;
        min-width: 3.236em;
      }
      &__image{
        width: 300px;
        height: auto;
        display: block;
        margin: 0 0 1em;
        box-shadow: none;
        max-width: 100%;
        img{
          width: 100%;
          height: auto;

        }
    }
      &__title{
        padding: .5em 0;
        margin: 0;
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 1;
        color: #252525;
        text-transform: none;
        letter-spacing: 0;
      }
      .star-rating{
        color: #f50;
      }
      .price{
        color: #f50;
        font-size:14px;
        display: block;
        font-weight: 400;
        margin-bottom: .5em;
        del{
          color: inherit;
          opacity: .5;
          margin-right: 0.2em;
        }
        ins{
          background: 0 0;
          font-weight: 700;
          display: inline-block;
          color: #f50;
        }
      }
    }
    &__button{
      display: inline-block;
      position: relative;
      z-index: 0;
      outline: none;
      vertical-align: top;
      height: 36px;
      line-height: 34px;
      border: 1px solid #252525;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background-color: transparent;
      font-family: 'Muli', sans-serif;
      font-size: 11px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 0.02em;
      padding: 0 19.23076923px;
      overflow: hidden;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #252525;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
        transition: all 0.4s;
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        width: 0;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        /* transform: translateX(-50%); */
      }
      &:hover{
        color: #252525;
        background-color: transparent;
        background-image: none;
        &:before{
          -ms-transition: all 0.4s;
          transition: all 0.4s;
        }
        &:after{
          width: 104%;
          opacity: 1;
        }
      }
    }
  }
}
.columns-4{
  display: flex;
  flex-wrap: wrap;
}
